[mysqld]
datadir=/var/lib/mysql
socket=/var/run/mysqld/mysqld.sock
user=mysql
# Disallow remote connections for security reasons
bind-address=127.0.0.1
# Character set and collation
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci
# InnoDB settings
innodb_buffer_pool_size=1028M
innodb_log_file_size=128M
